Source: charge-mode
Section: base
Priority: optional
Maintainer: Uvos <carl@uvos.xyz>
Build-Depends:
 debhelper-compat (= 12),
 libsdl2-dev,
 libsdl2-ttf-dev,
Standards-Version: 4.3.0

Package: charge-mode
Architecture: any
Multi-arch: same
Depends: ${shlibs:Depends}, ${misc:Depends},
 openrc,
 fontconfig,
 fonts-dejavu-core,
 xinit,
Description: This provides charging mode runlevel and interface on Leste devices
